
.header{
    text-align:center;
    margin: 4%;
    color: rgb(113, 135, 207);
    
}

.navigation nav{
    background-color: rgb(27, 27, 92);
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
nav a{
    
    text-decoration: none;
    color: rgb(221, 75, 95);
    margin-right: 20px;
    padding: 5px;
}